body {
  background: linear-gradient(to bottom right, #fff5d7, #ffcce1);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: Arial, sans-serif;
  color: #4b5945;
}
